# Question 1:

Recreate “NB 21 map, filter, lambda.ipynb” to try different variations or perform different calculations from
the ones that are in the NB

# map()-

It applies the given function to all iterables and returns a new list.

### SYNTAX:

map(function, iterables)

1. Adding a number to a list by using map() function where int is a function applied on iterables i.e. on the space separated inputs and then converted into the list.

In [1]:
a = list(map(int, input().split()))
a.append(23)
print(a)

1 2 6 8 4 3
[1, 2, 6, 8, 4, 3, 23]

2. Doubling a list of numbers by using a user defined doubler function and then converted into the list.

In [2]:
def doubler(a):
    return a*2
a = list(map(doubler, [2,9,7,1,6,3]))
print(a)

[4, 18, 14, 2, 12, 6]

3. Ord of the given list of character by using in-built ord() function in the map() function.

In [3]:
print(list(map(ord, ['a', 'B', 'w', 'q', 'G', 'g', 'z'])))

[97, 66, 119, 113, 71, 103, 122]

4. Binary value of the given list of numbers by using in-built bin() function in the user defined Bin() function in the map() function.

In [4]:
def Bin(num):
    return bin(num)[2:]
print(list(map(Bin, [8,2,0,1,5,3,12,9])))

['1000', '10', '0', '1', '101', '11', '1100', '1001']

# Lambda functions

They are used in places where we know that the function will be required just once. Therefore, lambda functions are also called as throw away functions.

### SYNTAX:

lambda arguments: expression

1. Doubling the given list of numbers by using lambda function.

In [5]:
print(list(map(lambda x: x*2, [2,5,7,1,4,9])))

[4, 10, 14, 2, 8, 18]

2. Squaring the given list of numbers by using lamda function.

In [6]:
print(list(map(lambda x:x*x, [2,5,7,1,4,9])))

[4, 25, 49, 1, 16, 81]

3. Adding 3 numbers using lambda function.

In [7]:
x = lambda a, b, c : a + b + c
print(x(3, 9, 7))

19

4. Doubling given value by using lambda function in the user defined function abc()

In [8]:
def abc(b):
    return lambda a : a * b

doubler = abc(2)

print(doubler(26))

52

# filter()

It is used to filter the given iterables with the help of another function passed as an argument to test all the elements to be True or False.

### SYNTAX:

filter(function, iterables)

1. Filtering elements of the list if that elements is even.

In [9]:
def even_odd(a):
    if a%2 == 0:
        return a
x = list(filter(even_odd, [1,2,3,4,5,6,7,8,9,10]))
print(x)

[2, 4, 6, 8, 10]

2. Filtering elements of the list if that elements is in between 10 and 5.

In [10]:
a = list(filter(lambda x: 10>x>5, [1,2,3,4,5,6,7,8,9,10]))
print(a)

[6, 7, 8, 9]

3. Filtering Jee Qualiying students based on cut-off.

In [11]:
def cut_off(x):
    if x < 70:
        return False
    else:
        return True
jee_qual_marks = filter(cut_off, [104, 51, 45, 72, 95, 62, 160])
[x for x in jee_qual_marks]

[104, 72, 95, 160]

4. Filtering Vowels from given list of characters.

In [12]:
def vowel(variable): 
    letters = ['a', 'e', 'i', 'o', 'u'] 
    if (variable in letters): 
        return True
    else: 
        return False
filtered = filter(vowel, ['p', 'e', 'a', 'c', 'o', 'k', 'i', 'n']) 
print('The filtered letters are:') 
[s for s in filtered ]

The filtered letters are:

['e', 'a', 'o', 'i']

# reduce()

It applies some other function to a list that are passed as a parameter to it and finally return a single value.

### SYNTAX:

reduce(function, iterables)

1. Using reduce to add numbers of the list

In [13]:
from functools import reduce
numb = [3, 4, 6, 9, 34, 12]
def custom_sum(a, b):
    return a + b
print(reduce(custom_sum, numb))

68

2. using reduce to compute maximum element from list

In [14]:
from functools import reduce
l = [ 1 , 3, 5, 6, 2]
print (reduce(lambda a,b : a if a > b else b,l))

6

3. Use reduce to print the product of numbers in the list

In [15]:
from functools import reduce 
print(reduce(lambda a, b: a * b, [4, 6, 9, 23, 5]))

24840

4. Multipying the list numbers one by one and return the final answer using reduce() function.

In [16]:
from functools import reduce
print(reduce((lambda x, y: x * y), [1, 2, 3, 4]))

24

# Question 2:

Recreate your own Python NB for “Classes and Objects” from the pdf provided namely
“Classes&Objects.pdf”

1. Creating a class and using that class by creating object of that class

In [17]:
# Create a Class
class abc:
    x = 634
# Create a object
p1 = abc()
print(p1.x)

634

2. **__init__()** Function: Create a class named Person, use the __init__() function to assign values for name and age:

In [18]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
p1 = Person("Shailesh", 22)
print(p1.name)
print(p1.age)

Shailesh
22

3. create a method in the Person class:

In [19]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def abc(self):
        print("Hello my name is " + self.name)

p1 = Person("Shailesh", 22)
p1.abc()

Hello my name is Shailesh

4. The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

In [20]:
class Person:
    def __init__(dummyobject, name, age):
        dummyobject.name = name
        dummyobject.age = age

    def abc(eas):
        print("Hello my name is " + eas.name)

p1 = Person("Shailesh", 22)
p1.abc()

Hello my name is Shailesh

5. Modify Object Properties -- Set the age of p1 to 40

In [21]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def abc(self):
        print("Hello my name is " + self.name)
p1 = Person("Shailesh", 36)
p1.age = 26
print(p1.age)

26

6. Delete Object Properties -- Delete the age property from the p1 object

In [22]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def myfunc(self):
        print("Hello my name is " + self.name)
p1 = Person("Shailesh", 22)
del p1.age
print(p1.age) # will give error

AttributeError: 'Person' object has no attribute 'age'